@keyframes bomb-exploding {
    from { font-size: 20pt; }
    to { font-size: 26pt; }
}

@keyframes explosion {
    0% { font-size: 1pt; }
    95% { font-size: 32pt; }
    100% { font-size: 26pt; }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes seed-growing {
    from { font-size: 1pt; }
    to { font-size: 11pt; }
}

@keyframes flower-growing {
    from { font-size: 12pt; }
    to { font-size: 20pt; }
}