$main-color: #4a752c;
$gameover-screen: #4ac0fd;

main > #gameover-screen {
    width: 340px;
    margin: auto;
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4ms;

    &.hidden { display: none; }
    &.fade-in { animation: fade-in 0.5s ease-in-out; }

    #screen, button {
        width: 100%;
        border-radius: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
    }

    #screen {
        background-color: $gameover-screen;
        margin-bottom: 15px;
        font-size: 20pt;
    }

    button {
        background-color: $main-color;
        padding: 10px;
        border: none;
        box-sizing: border-box;
        font-size: 15pt;
        cursor: pointer;
    }
}